{% extends 'base.html' %}


{% block content %}
    <div class="col-10">
        <div class="jumbotron">
            <h3>Portfolio Summary</h3>
            <p>Total Loans: {{ loans|length }}</p>
            <p>Total Portfolio Amount: {{ loans_sum }} </p>
            <div class="chart"></div>
        </div>
        <table class="table table-bordered hover">
            <thead>
            <tr>
                <th>Loan ID #</th>
                <th>Organization Name</th>
                <th>Loan Amount</th>
                <th>Compliance</th>
            </tr>
            </thead>
            <tbody>
            {% for i in loans %}
                <tr>
                    <td><a href="{% url 'loans' i.slug %}">{{ i.loan_id }}</a></td>
                    <td><a href="{% url 'organization' i.organization.slug %}">{{ i.organization }}</a></td>
                    <td>{{ i.amount }}</td>
                    <td>{{ i.loan_compliance }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        var data = [
            {% for i in temp_list %}
                {{ i }},

            {% endfor %}
        ]

        d3.select(".chart")
            .selectAll("div")
            .data(data)
            .enter()
            .append("div")
            .style("width", function (d) {
                return d + "px";
            })
            .text(function (d) {
                return d;
            });
    </script>
{% endblock %}
