$maincolor: #333;
$borderred: red;
$stringlist: 'hey!', 'hello!', 'howdy!';
$colormap: (
        1:#222,
        2:#fff,
        3:blue,
        4:green
);

$intype: 5;
$standardborder: green 20px solid;
$inwidth: 500px;